$blue: #11115e;
$gray: #f5f5f5;
$orange: #ff9900;
$font: 'Poppins', sans-serif;
$light-blue: #1b1bb7;
$smallbreak: 400px;
$fivebreak: 550px;
$middlebreak: 768px;
$mediumbreak: 1024px;
$bigbreak: 1440px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $gray;
    scroll-behavior: smooth;
}

body {
    background-color: $blue;
    color: $gray;
    font-family: $font;
}

@media screen and (max-width: $bigbreak) {
    header {
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    
        #logo img {
            width: 100px;
            padding: 10px;
        }
    
        nav {
            ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
        }
    
            li {
                list-style: none;
                margin-left: 1.2rem;
            }
    
            a {
                text-decoration: none;
                color: $gray;
                font-size: 1.3rem;
                /*animacija*/
            }
        }
    }
    
    
    .container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
    
        #home-left { 
            h1 {
                font-size: 2rem;
                text-align: left;
            }
            h3 {
                color: $orange;
                font-size: 1.4rem;
            }
            width: 50%;
            letter-spacing: 0.1rem;
    }
        
        hr {
            background-color: $orange;
            border: none;
            width: 150px;
            height: 5px;
            margin: 1px auto;
        }
    
        h1 {
            text-align: center;
        }
    
        #about {
            #about-container {
    
                margin-top: 50px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
    
                #about-image {
                    border-radius: 20px;
                    width: 300px;
                    img {
                        width: 100%;
                        border-radius: 20px;
                    }
                }
    
                #about-text {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
    
                    #hobby {
    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
    
                        h2, i {
                            color: $orange;
                        }
    
                        #hobby-container {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 60%;
    
                            .hobbies {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                
                            }
                        }
                    }
                }
            }
        }
    
        #experience {
            
    
            #window-container {
    
                display: flex;
                flex-direction: row;
    
                .expwindow {
                    width: 450px;
                    border: 5px solid $orange;
                    border-radius: 20px;
                    background-color: $light-blue;
                    display: flex;
                    flex-direction: column;
                    margin: 50px 10px;
        
                    h2 {
                        text-align: center;
                        padding-top: 20px;
                    }
        
                    .mini-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding: 30px 25%;
                        flex-wrap: wrap;
                        
                        figure {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
        
                            img {
                                width: 70px;
                            }
        
                            #fl {
                                width: 65px;
                                margin-right: 5px;
                            }
                        }
                    }
                    
                    #synth-container {
                        img {
                            width: 60px;
                            margin: 5px;
                        }
                    }
                    
                }
            }
        }
    
        #services {
            display: flex;
            flex-direction: column;
    
    
            .services-containers {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
    
                .services-bar {
                    border: 5px solid $orange;
                    border-radius: 20px;
                    background-color: $light-blue;
                    width: 28%;
                    height: 350px;
                    padding: 30px 20px;
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
    
                    h2 {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        
        #contact {
            .contact-form {
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 50px;
    
                #contact-info {
                    width: 50%;
                }
    
                .form {
    
                    width: 40%;
    
                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        .name {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
    
                            input {
                                background-color: transparent;
                                border: 1px solid $orange;
                                color: $gray;
                                height: 50px;
                                border-radius: 5px;
                                padding: 10px;
                                margin-bottom: 20px;
                                width: 45%;
                            }
                        }
    
                        input[name="subject"] {
                            background-color: transparent;
                            border: 1px solid $orange;
                            color: $gray;
                            height: 50px;
                            border-radius: 5px;
                            padding: 10px;
                            margin-bottom: 20px;
                            width: 100%;
                        }
    
                        textarea {
                            background-color: transparent;
                            border: 1px solid $orange;
                            color: $gray;
                            height: 120px;
                            border-radius: 5px;
                            padding: 10px;
                            margin-bottom: 20px;
                            width: 100%;
                        }
    
                        input[type="submit"] {
                            background-color: transparent;
                            border: 1px solid $orange;
                            color: $gray;
                            height: 50px;
                            border-radius: 5px;
                            padding: 10px;
                            margin-bottom: 20px;
                            font-size: 1.1rem;
                            width: 45%;
                            cursor: pointer;
                        }
    
                        input[type="submit"]:hover {
                            background-color: $orange;
                            transition: 0.2s;
                        }
    
                        
                    }
    
                    
                }
            }
    
            #contact-info {
                h2 {
                    span {
                        color: $orange;
                    }
                }
            }
        }
    
        
    }
    
    hr {
        width: 80%;
        background-color: $gray;
        border: none;
        height: 1px;
        margin: 60px auto;
    }
    
    footer {
        margin-top: 20px;
        height: 80px;
    
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        
        }
    }
}

@media screen and (max-width: $mediumbreak) {
    .container {
        #experience {
            
            #window-container {
                display: flex;
                flex-direction: column;
            }
        }

        #services { 
            .services-containers {
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: $middlebreak) {
    body {
        font-size: 0.8rem;
    }

    .container {
        #home-right {
            img {
                width: 350px;
            }
        }

        #about {
            #about-container {
                #about-image {
                    width: 200px;
                }
            }
        }

        #experience {
            height: 600px;
            #window-container {
                height: 600px;
                display: flex;
                flex-direction: column;
                
                .expwindow {
                    width: 400px;
                    height: 200px;

                    #synth-container {
                        figure {
                            img {
                                width: 45px;
                            }
                        }
                    }

                    #daw-container {
                        figure {
                            #fl {
                                width: 50px;
                            }
                            img {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }

        #services {
            .services-containers {
                display: flex;
                flex-direction: column;

                .services-bar {
                    width: 80%;
                    height: 180px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }

    }

    hr {
        margin: 30px auto;
    }
}

@media screen and (max-width: $fivebreak) {
    * {
        font-size: 0.8rem;
    }

    header {
        height: 120px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        #logo {
            a {
                img {
                    width: 80px;
                }
            }
        }
    }

    .container {
        p {
            font-size: 1rem;
        }
        h1 {
            font-size: 1.4rem;
        }
        h2 {
            font-size: 1.2rem;
        }
        #orange-bar {
            width: 75px;
        }

        #home-right {
            img {
                width: 100%;
            }
        }

        #about {
            #about-container {
                margin-top: 30px;
                display: flex;
                flex-direction: column-reverse;

                #about-text {
                    width: 100%;
                    height: 180px;
                }

                #about-image {
                    width: 90%;
                    margin-top: 20px;
                }
            }
        }
        #experience {
            height: 530px;
            #window-container {
                figure {
                    width: 50%;
                }
                .expwindow {
                    margin-top: 20px;
                    width: 300px;
                    height: 200px;
                }
            }
        }
        #contact {
            width: 100%;
            .contact-form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 90%;
                margin: 20px auto;

                .form {
                    width: 100%;
                }

                #contact-info {
                    width: 90%;
                    word-wrap: break-word;
                }
                    h2 {
                        span {
                            font-size: 1.4rem;
                        }
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }


@media screen and (max-width: $smallbreak) {
    header {
        nav {
            ul {
                li {
                    a {
                        font-size: 4vw;
                    }
                }
            }
        }
    }
    .container {
        #home-left {
            width: 100%;
        }
        #home-right {
            img {
                display: none;
            }
        }

        #about {
            #about-container {
                #about-text {
                    height: inherit;
                }
                #about-image {
                    width: 90%;
                    margin-top: 20px;
                }
            }
        }

        #experience {
            width: 90%;
            #window-container {
                width: 100%;
                .expwindow {
                    width: 90%;
                }
            }
        }

        #services {
            .services-containers {
                .services-bar {
                    height: inherit;
                }
            }
        }

        #contact {
            .contact-form {
                margin-top: 30px;

                .form {
                    form {
                        input[name=subject] {
                            height: inherit;
                        }
                        textarea {
                            height: inherit;
                        }
                        .name {
                            input {
                                height: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}


